.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 40px;
    padding: 6.4px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
    color: #ffffff;
    border-radius: 50px;
}

.button.handler{
    background: #1890ff;
}
